@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root {
  --gray: #F9FAFB;
}

/* ready to use class */
.sidebar-active {
  font-weight: bold;
}

.height-100 {
  height: 100vh;
}

.bg-gray {
  background-color: var(--gray);
}

/* sidebar width 400px*/
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.1s;
  background-color: rgba(255, 255, 255, 0.75);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .sidebar-link:hover {
  cursor: pointer;
}

.open-sidebar {
  position: absolute;
  top: 50%;
  left: calc(0% - 64px);
  z-index: 1;
  width: 176px;
  height: 0;
  border-bottom: 50px solid rgba(255, 255, 255, 0.75);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-radius: 60px 60px 0 0;
  transform: rotate(90deg);
  transition: 0.1s;
}

.open-sidebar::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #000;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: calc(50px - 36px);
}

/* click canvas */
.canvas {
  background-color: #5c6b28;
  min-width: 100vw;
  min-height: 100vh;
  transition: .1s;
}

.canvas #dna {
  position: fixed;
}

.canvas #dna img {
  width: 4.5rem;
  height: 4.5rem;
}

.score, .score::after, .score::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

.score {
  transition: .1s;
  margin-top: 24px;
  width: 400px;
  background-color: rgba(0, 0, 0, .5);
}

.circle {
  border: 2rem solid blue;
  border-radius: 50%;
  border-top: 2rem solid red;
  border-bottom: 2rem solid red;
  height: 30rem;
  width: 30rem;
  -webkit-animation: spin 75s linear infinite;
  animation: spin 75s linear infinite;
}

/* login */
.login-brand {
  font-family: 'Viga', sans-serif;
}

.login-form {
  border-radius: .75rem !important;
}

.login-form input, .login-form button {
  border-radius: .35rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}