.canvas {
  background-color: #5c6b28;
  min-width: 100vw;
  min-height: 100vh;
}

.canvas #dna {
  position: fixed;
}

.canvas #dna img {
  width: 4.5rem;
  height: 4.5rem;
}

/* .score, .score::after, .score::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

.circle {
  border: 2rem solid blue;
  border-radius: 50%;
  border-top: 2rem solid red;
  border-bottom: 2rem solid red;
  height: 30rem;
  width: 30rem;
  -webkit-animation: spin 75s linear infinite;
  animation: spin 75s linear infinite;
}

#object-follow {
  position: fixed;
  padding: 25px;
  background-color: green;
}

#object-follow #popup-text {
  position: inherit;
  visibility: hidden;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}
*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}